:root {
    font-size: 10px;
    --clr-bg-1: #4248bd;
    --clr-bg-2: #fff3e7;
    --clr-org: #fb8516;
    --clr-footer: #333333;
    --clr-white: #ffffff;
    --clr-dark: #111111;
    --txt-alin: center;
    --txt-decor: none;
    --alin-itm: center;
    --dsp-flex: flex;
    --dsp-grid: grid;
}

body {
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
}

img {
    width: 100%;
    vertical-align: middle;
}

/* header style */
header {
    display: var(--dsp-flex);
    justify-content: space-between;
    margin: 2rem;

    a {
        text-decoration: var(--txt-decor);
        color: var(--clr-dark);
        font-weight: 700;
        font-size: 2rem;
    }

    nav {
        display: none;
        position: absolute;
        background-color: cornflowerblue;
        top: 0;
        left: 0;
        right: 20%;
        bottom: 0;

        ul {
            margin: 3rem;

            li {
                padding: 1rem;
            }
        }

        #close {
            position: inherit;
            top: 10px;
            left: 10px;
            border: none;
            border-radius: 50%;
            background-color: black;
            color: white;
            padding: 0.5rem;
            cursor: pointer;
        }
    }

    div.burger {
        display: var(--dsp-flex);
        flex-direction: column;
        cursor: pointer;

        span {
            height: 2px;
            width: 20px;
            background-color: #111111;
            margin: 4px;
            border-radius: 10px;
        }
    }
}

/* main style */
